<h1>Dragon Ball Z</h1>
<hr>
<div class="row">
<div class="col">
    <app-personajes [data]="personajes">        
    </app-personajes>
  <!--  <h3>Personajes</h3>
    <hr>
<ul>
    <li *ngFor="let item of personajes">{{item.nombre}}-{{item.poder | number}}</li>   
</ul>-->
</div>
<div class="col">
    <app-agregar [data]="personajes" [nuevo]="nuevo"></app-agregar>
    <!--
<h3>Agregar</h3>
<hr>
<form (ngSubmit)="agregar()">
    <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nuevo.nombre"/>
    <input type="number" placeholder="Poder" name="poder" [(ngModel)]="nuevo.poder"/>
    <button type="submit">
        Agregar
    </button>
</form>-->
</div>
</div>